body{
    margin: 0;
    font-family: 'Poppins', sans-serif;;
}
.first{
    background-image: url(images/shapes/backg3.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%; 
}
.section{
    display: flex;
}
.front-part1{
    width: 50%;
    padding: 5%;
}
h1{
   font-size: 50px;
   line-height: 1.3;
}
span{
    color: red;
}
#image1{
    width: 80%;

}

p.first-para{
    padding-bottom: 10px;
}
img.logo{
    width: 30px;
    padding-left: 30px;

}
.anchor-link{
    padding: 10px 15px;
    border-radius: 20px;
    text-decoration: none;
    text-transform: capitalize;
    color: #fff;
    background-image: linear-gradient(orange, red);
}
.anchor-link:hover{
    color: #000;
    background-image: linear-gradient(green,orange);
}
.front-part2{
    width: 50%;
    padding: 5%;
}
.middle{
    background-image: url(images/shapes/backg1.png);
    background-repeat: no-repeat;
    width: 100%;

}
#image2{
    width: 67%;
    padding-left: 70px;
}
.front-part2 h2{
    font-size: 40px;
    margin-top: 20%;
}
p.second-para{
    text-align: justify;
    padding-bottom: 60px;
    margin: auto;
}
.my-recipies h2{
    text-align: center;
    padding-top: 20px;
}
p#recipies-para{
    padding: 0% 23%;
    text-align: justify;
    padding-bottom: 50px;
}
.blog{
    display: flex;
    width: 90%;
    margin: auto;
    padding-bottom: 5%;
}
.blog-shadow{
    padding: 10px;
    margin: 10px;
    border-radius: 25px;
    box-shadow: 10px 10px 25px gray;
}
.blog-shadow img{
    width: 100%;
}
.blog-shadow p{
    text-align: justify;
}
.shadow-views{
    display: flex;
    width: 90%;
    margin: auto;
    border-radius: 15px;
    box-shadow: 10px 10px 25px gray;
}
.shadow-views div{
    text-align: center;
    margin: auto;
    color: #000;
}
footer{
    background-attachment: fixed;
    background-color: black;
    margin-top: 5%;
}
 footer h3{
    text-align: center;
    color: brown;
    padding-top: 30px;
}
footer p{
    color: gray;
    text-align: center;
    padding-bottom: 40px;

}